<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script
            type="text/javascript"
            src="/js/lib/dummy.js"
    ></script>
    <link rel="stylesheet" type="text/css" href="/css/result-light.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/list.css">
    <script id="insert"></script>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                <div class="card-img-left d-none d-md-flex">
                </div>
                <div class="card-body p-4 p-sm-5">
                    <form th:action="@{'/boards'}" th:method="get">

                        <div class="d-grid mb-2">
                            <button class="btn btn-lg btn-primary btn-create fw-bold text-uppercase" type="button"
                                    th:onclick="|location.href='@{/boards/create}'|">Create</button>
                        </div>

                                    <hr class="my-4">
                                    <div>
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>TITLE</th>
                                                <th>CONTENT</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="board : ${boards}">
                                                <td><a href="item.html" th:href="@{/boards/{boardId}
                                                        (boardId=${board.id})}" th:text="${board.id}"></a></td>
                                                <td><a href="item.html" th:href="@{|/boards/${board.id}|}"
                                                       th:text="${board.getTitle}"></a></td>
                                                <td th:text="${board.getContent}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>



                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>